#nbextension-gotoerror {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #F8F5E1;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
    z-index: 105;
}

#nbextension-gotoerror .cell-wrapper {
    height: 100%;
    overflow: auto;
}

.gotoerror-btn {
    float: left;
    margin-left: 24px;
    opacity: 0.2;
    font-size: 24px;
    z-index: 106;
}

.gotoerror-btn:hover {
    opacity: 1;
}

.gotoerror-close {
    display: none;
    position: absolute;
    float: left;
    top: 8px;
    left: 0;
}